<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration>

    <!-- Appender -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p: %c - %m%n"/>
        </layout>
    </appender>

    <appender name="parametersHibernate" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4date - %msg %n"/>
        </layout>
    </appender>

    <!--TODO: fix output folder-->
    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="append" value="false"/>
        <param name="maxFileSize" value="5MB"/>
        <!--<param name="maxBackupIndex" value="10"/>-->
        <!-- For Tomcat -->
        <!--<param name="file" value="${catalina.home}/logs/example-envers.log"/>-->
        <!--<param name="file" value="${catalina.base}/logs/example-envers.log"/>-->
        <param name="file" value="${user.dir}/example-envers.log"/>
        <param name="immediateFlush" value="true"/>
        <param name="threshold" value="debug"/>
        <param name="append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] %5p [%t] (%c{1}:%L) - %m%n"/>
        </layout>
    </appender>

    <!-- Application -->
    <logger name="com.jcalvopinam" additivity="false">
        <level value="info"/>
        <appender-ref ref="file"/>
    </logger>

    <!-- Spring -->
    <logger name="org.springframework.core">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.beans">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.context">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.web">
        <level value="info"/>
    </logger>

    <!-- Hibernate-->
    <logger name="org.hibernate.SQL" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="parametersHibernate"/>
    </logger>

    <logger name="org.hibernate.type" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="parametersHibernate"/>
    </logger>

    <logger name="log4j.rootLogger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="file"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="info"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="parametersHibernate"/>
    </root>

</log4j:configuration>
